@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/colors.scss" as *;

.trip-card{
    display: flex;
    flex-direction: column;
    align-items: center;    
    &__name{
        background-color: white;
        border-radius: 25px;
        border: 3px solid $primary-red;
        width: 15rem;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.5rem;
        margin: 0.75rem 1rem;
        cursor: pointer;
    }
}