@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/colors.scss" as *;

.dashboard{
    background-color: $primary-beige;
    width: 100vw;
    display: flex;
    flex-direction: column;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
    &__title{
        font-size: 2srem;
        margin: 1rem 0;
        text-align: left;
        @include tablet{
            @include tablet-side-padding;
        }
        @include desktop{
            @include desktop-side-padding;
        }
    }
    &__element--hidden{
        display: none;
        @include tablet{
            display: inline-block;
        }
    }
    &__mobile-element{
        @include tablet{
            display: none;
        }
    }

    &__side-bar{
        background-color: $dark-beige;
        width: 100vw;
        height: calc(100vh - 6.5rem);
        position: absolute;
        right: 0;
        @include tablet{
            height: calc(100vh - 4.2rem);
            display: inline-block;
            width: 20rem;
        }

        &-mobile{
            background-color: $primary-red;
            width: 100vw;
            position: fixed;
            bottom: 0;
            margin: 0 auto;

        }
    }
}

.modal--hidden{
    display: none;
}
.side-bar{
    &__title{
        margin: 0.75rem;
    }
}