// primary colors
$primary-blue: #85bbec;
$dark-blue: #195ea3;
$primary-beige: #FEF9EF;
$dark-beige: #F2DAA9;
$primary-red: #FF9673;

// Text color
$text-light: #323232;
$text-dark: #000000;

// error
$error-red: #ff0f0f;