@font-face {
    font-family: "Avenir";
    src: url("../../../public/font/AvenirNextLTPro-Regular.otf"),format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "Avenir";
    src: url("../../../public/font/AvenirNextLTPro-Bold.otf"),format("opentype");
    font-weight: bold;
}

$font-stack: "Avenir",sans-serif;