@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.page-nav{
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    height: 6.5rem;
    @include mobile-side-padding;
    @include tablet{
        height: 4rem;
        flex-direction: row;
        @include tablet-side-padding;   
    }
    @include desktop{
        @include desktop-side-padding;
    }
    &__logo{
        width: 2.5rem;
        margin-top: 0.5rem;
        &-link{
            padding-right: 1rem;
            width: 2.5rem;
        }
        &-wrap{
            display: flex;
            justify-content: center;
            @include tablet{
                margin-top: 0;
            }
        }
    }
    &__list {
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__features{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        align-items: flex-end;
        @include tablet{
            width: 10rem;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        @include tablet{
            // width: 10rem;
            // height: 100%;
        }
        &--active{
            background-color: $primary-blue;
        }
    }
    &__username{
        font-size: 1.25rem;
    }
    &__log-out{
        font-size: 1.2rem;
    }

}

