@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/global.scss";

.landing{
    &__img{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    &__overlay{
        background-color: rgba(0,0,0,0.25);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__title{
        animation: fadeIn 2s;
        -webkit-animation: fadeIn 2s;
        -moz-animation: fadeIn 2s;
        -o-animation: fadeIn 2s;
        -ms-animation: fadeIn 2s;
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        z-index: 1;
        @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
        }
          
        @-moz-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
        }
        
        @-webkit-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
        }
        
        @-o-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
        }
        
        @-ms-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
        }
    }
    &__primary{
        font-size: 2.5rem;
        @include tablet{
            font-size: 4rem;
        }
    }
    &__secondary{
        font-size: 1.5rem;
        @include tablet{
            font-size: 2rem;
        }
    }
}