@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/colors.scss" as *;

.calendar{
    &__header{
        display: flex;
        margin: 1.5rem 0;
        @include mobile-side-padding;
        @include tablet{
            justify-content: space-between;
            @include tablet-side-padding;
        }
    }
    &__edit{
        margin-left: 2rem;
    }
    &__name-wrap, &__add-delete-wrap{
        display: flex;
        align-items: center;
    }
    &__delete{
        margin-left: 2rem;
    }
}
