@use "../../styles/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/colors.scss" as *;

.calendar{
    &__header{
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 0;
        @include mobile-side-padding;
        @include tablet{
            justify-content: start;
            @include tablet-side-padding;
        }
    }
    &__name-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2rem;
    }
    &__add{
        margin-left: 2rem;
    }
}
